// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jumboteal {
  background-color: #E4F5ED;
}

.labublue {
  background-color: #005da2;
}

.white {
  background-color: white;
}

.teal {
  background-color : #1FEEA6;
}

.lightteal {
  background-color: #96F7C9;
}

.jumbotron {
  display: inline-block;
}
.dashboard-navbar{
  background-color: #005da2;
}
.table {
  //display: inline-block;
  position: absolute;
  top: 200px;
  left: 250px;
}

.form {
  position: absolute;
  top: 210px;
  left: 270px;
}
//----------------------

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #005da2;
  color: #fff;
  transition: all 0.3s;
  display: inline-block;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #005da2;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #005da2;
  background: #9FD1FF;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #509ADF;
}

#sidebar ul li.inactive>a,
a[aria-expanded="true"] {
  color: #fff;
}

a[data-toggle="collapse"] {
  position: relative;
}

ul ul {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #005da2;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs{
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
